*.cshtml linguist-detectable=false
*.js linguist-detectable=false

###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
