
@{
    ViewBag.Title = "About";
}
<br /><br /><br />


            <div class="container-fluid col-8 align-content-center text-center">
                <h1>NoteShare</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et nunc in eros placerat vestibulum vitae vitae metus. In congue posuere dapibus. Aenean nec malesuada ante. Donec et vehicula purus. Morbi luctus, turpis vel elementum feugiat, mauris leo condimentum augue, eu rutrum lacus mauris et lectus. Sed molestie, odio at gravida pulvinar, ipsum nisl sollicitudin orci, quis condimentum sem est et leo. Fusce eget dignissim eros. Fusce sit amet ipsum nulla. Maecenas convallis, orci nec pellentesque lacinia, ex augue rhoncus augue, pellentesque scelerisque quam purus sit amet lectus. Aliquam id augue diam. Integer vitae auctor nisi, id elementum nisl. Fusce non aliquam metus. Morbi eu malesuada nunc. Integer pharetra justo ipsum, ut pharetra enim sollicitudin a.
                </p>

                <p>
                    Mauris interdum nibh leo, vel ultrices enim tempus non. Aenean ut sem sit amet sem sagittis hendrerit vel quis lacus. Cras non velit euismod, rhoncus felis sit amet, elementum nunc. Morbi maximus felis non neque ullamcorper, id rutrum orci elementum. Mauris nec ex sit amet quam lacinia volutpat. Mauris vel tellus lacus. Nulla vitae viverra dui. Sed fringilla fringilla nibh, quis accumsan felis pellentesque et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus nunc non lacus mollis, vitae imperdiet neque consectetur. Duis sapien lacus, placerat a condimentum a, elementum ac magna. Curabitur fringilla augue ut turpis suscipit, et condimentum lacus aliquam. Phasellus tristique quam lacus, nec convallis tellus dapibus et. Vestibulum venenatis vel magna in aliquet. Duis feugiat neque sit amet sem vehicula elementum.
                </p>
                <p>
                    Nullam mattis velit id ornare pharetra. Maecenas gravida magna at tortor suscipit molestie. In suscipit, lacus quis accumsan tempor, odio dolor aliquam felis, at vehicula turpis lectus eu magna. Pellentesque nulla metus, ornare sed magna eu, placerat consectetur ipsum. Duis pharetra pellentesque ultrices. Aenean sed placerat nisl. Aliquam erat volutpat. Praesent eget mi tincidunt, auctor elit eu, finibus nisi. Maecenas convallis dolor nec imperdiet interdum.
                </p>
                <p>
                    Nunc ornare non mauris vel mattis. Maecenas auctor elit quis justo lacinia, vitae bibendum dui volutpat. Aliquam commodo convallis justo, sed ultricies turpis posuere porttitor. Fusce malesuada euismod orci nec maximus. Donec eget varius turpis. Quisque maximus, dui quis laoreet tempor, sapien augue dictum lacus, vitae placerat eros quam sit amet tellus. Sed facilisis est ornare tortor volutpat, in malesuada neque elementum. Morbi et ex suscipit, convallis justo a, sodales magna. Nunc gravida dolor sed dolor pharetra pulvinar. Praesent varius tortor at enim vulputate, nec tristique augue eleifend. Curabitur lacus tellus, hendrerit eget nulla id, mattis laoreet velit. Vivamus fermentum turpis porttitor ligula dictum tincidunt. Aliquam ut efficitur odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris vitae fringilla quam.
                </p>
                <p>
                    Phasellus pellentesque neque accumsan vulputate iaculis. Sed at tempus lacus. Etiam non dolor mattis lectus aliquam pellentesque eu eget neque. Vestibulum dictum congue iaculis. Mauris ullamcorper et turpis at tincidunt. Aliquam vel egestas ante, id elementum turpis. Quisque ullamcorper pharetra scelerisque. Integer et felis nisl. Ut faucibus lectus eleifend elit consequat, eget venenatis magna blandit. Praesent non nunc id neque placerat finibus a nec sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere justo sed leo suscipit elementum. Vestibulum et hendrerit odio. Nam feugiat nunc nec nisi sagittis, at suscipit arcu auctor. Nam tempor dolor vitae varius porttitor. Aenean ut nulla velit.
                </p>
            </div>