
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <style>
        .brand {
            color: #5ec273;
        }

        .sign-container {
            max-width: 470px;
        }

        .icon-height {
            height: 24px;
            width: 24px;
        }

        .right-box {
            background-color: #212529;
        }

        .inputbox {
            border: 1px solid #cfcece;
            outline: none;
        }

            .inputbox:focus {
                border: 2px solid #0DCA78;
            }

        .input-label {
            top: -12px;
            left: 3%;
        }

        .sign-up {
            background: #5ec273;
            color: #fff;
        }

            .sign-up:hover {
                background: #fff;
                color: #0DCA78;
                border: 1px solid #0DCA78;
            }

        .signin-border {
            width: 60px;
            border: 2px solid #5ec273;
        }
    </style>
</head>

<body>
    <section class="container-fluid ">
        <div class="row vh-100">
            <div class="col-md-5 col-12 right-box d-flex">
                <div class="text-white text-center m-auto m-5 p-5">
                    <h2 class="fw-bolder fs-1 my-4">Already Have an Account?!</h2>
                    
                    
                    <a href="/User/Login" class="btn fw-bold btn-lg border-white rounded-5 px-5 fs-6 text-white">
                        Sign In
                    </a>
                </div>
            </div>
            <form class="col-md-7 col-12 d-flex align-items-center justify-content-center" method="post" action="/User/Register">
                    <div class="px-4 sign-container container-fluid mx-auto ">
                        <div class="text-center mt-5">
                            <h2 class="fw-bold brand fs-1 my-4">Sign Up</h2>
                            <div class="mb-2 mx-auto signin-border"></div>
                            <div class="d-flex justify-content-center align-items-center mt-3">
                            </div>
                            <div class="position-relative my-3">

                                <input class="form-control inputbox shadow-none p-2" name="Username" id="Username"
                                       placeholder="Username">
                                <div class="input-label position-absolute  px-2 bg-white z-1">
                                    <label for="email" class="control-label">Username</label>
                                </div>
                            </div>
                            <div class="position-relative my-3">
                                <input class="form-control inputbox shadow-none p-2" type="email" name="EMail"
                                       id="EMail" placeholder="email">
                                <div class="input-label position-absolute px-2 bg-white z-1">
                                    <label for="email" class="control-label">Email</label>
                                </div>
                            </div>
                            <div class="position-relative my-3">
                                <input class="form-control inputbox shadow-none p-2" type="password" name="Password"
                                       id="Password" placeholder="password">
                                <div class="input-label position-absolute px-2 bg-white z-1">
                                    <label for="email" class="control-label">Password</label>
                                </div>
                            </div>
                            <div class="position-relative my-3">
                                <input class="form-control inputbox shadow-none p-2" type="password" name="RePassword"
                                       id="RePassword" placeholder="password">
                                <div class="input-label position-absolute px-2 bg-white z-1">
                                    <label for="email" class="control-label">Password Check</label>
                                </div>
                            </div>
                            <button type="submit" class="btn my-5 fw-bold btn-lg sign-up rounded-5 px-5 fs-6">
                                Sign In
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </section>

    <!-- bootstrap js link -->
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
</body>

</html>
